@using Webapp.Models

@model BirthCertificateInputModel

@{
    ViewData["Title"] = "Fødelsattest";
}

<h2>@ViewData["Title"]</h2>
<h3>Fødselsattest</h3>
<p>Borger er lagt til - her er fødselsattesten:</p>
<p>@Html.Raw(@ViewData["Message"])</p>

<p>Navn: <span style="font-family: monospace;">@Model.Name</span></p>
<p>Personnummer: <span style="font-family: monospace;">@Model.PersonNummer</span></p>
<p>Fødselsdato: <span style="font-family: monospace;">@Model.BirthDate</span></p>
<p>Forelders navn: <span style="font-family: monospace;">@Model.Parent1</span></p>
<p>Forelders navn: <span style="font-family: monospace;">@Model.Parent2</span></p>